.App {
  text-align: center;
  width: 80%;
  margin: auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
}

.card {
  width: 20%;
  max-width: 300px;
  margin: auto;
}
img {
  width: 100%;
}
